body {
  width: 500px;
  height: 285px;
  font-family: Calibri, Helvetica, Arial;
}

p {
    margin: 0;
}

#charcount {
    float: right;
}

p.warning {
    color: #f66;
}

textarea {
    width: 478px;
    height: 200px;
    margin: 5px 0;
    padding: 10px;
    font-size: 14px;
    line-height: 25px;
    resize: none;
    outline: none;
}

input {
    width: 100%;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 18px;
    padding:3px 0;
}

input:active {
    background: #e5e5e5;
    box-shadow:inset 0 0 5px #bbb;
}

#loading {
    padding-top: 110px;
    color: #999;
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

#loggedout,
#loggedin {
    display: none;
}

#loggedout {
    padding-top: 50px;
    text-align: center;
    font-size: 25px;
}